html {
    background: #e6e9e9;
    background-image: url(Yosemite.jpg);
}

body {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.75;
    margin: 0 auto;
    width: 80%;
    padding: 2em 2em 4em;
}

label {
    margin-right: 5px;
}

button {
    margin-right: 2px;
    margin-bottom: 2px;
}

.searchParksBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
}

.searchParksBtn:hover {
    background-color: #008000;
    color: white;
}

button:disabled {
    cursor: not-allowed;
}

h1 {
    text-align: center;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('Ripple-1s-200px.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
